<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="shylesheet" href="../../public/assets/bootstrap/css/bootstrap.min.css">
        <title>Header</title>
    </head>
    <body>
        <div class="page-wrapper">
            <nav class="navbar navbar-light bg-light">
                <span class="navbar-brand mb-0 h1"><a href="/">Products</a></span>
            </nav>
        