<% include ../partials/sellerheader.ejs %>
<script src="/public/assets/plugins/jquery.min.js"></script>
<script type="text/javascript" src="/public/assets/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/public/assets/bootstrap/css/bootstrap.min.css">
<script type="text/javascript" src="/public/assets/plugins/validator.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<section id="contents">
    <div class="row justify-content-center" style="height: 0%">
        <div class="col-md-8">
            <div class="card">
                <header class="card-header">
                    <h4 class="card-title mt-2">Add Seller</h4>
                </header>
                <article class="card-body">
                    <input type="hidden" name="errorMessage" id="ErrorMessage" value="" />
                    <form data-toggle="validator" novalidate="true" id="AddSeller" name="addSeller" method="POST"
                        action="">
                        <div class="form-body">
                            <input id="HidText1" name="hidText1" type="hidden" value="" />
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="FirstName" class="control-label">First Name</label>
                                    <input type="text" data-validate="true" class="form-control" id="FirstName"
                                        name="firstName" maxlength="200" required />
                                    <div class="help-block with-errors" style="color: red; font-size: 14px;"></div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="LastName" class="control-label">Last Name</label>
                                    <input type="text" data-validate="true" class="form-control" id="LastName"
                                        name="lastName" maxlength="200" required />
                                    <div class="help-block with-errors" style="color: red; font-size: 14px;"></div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="Address" class="control-label">Address</label>
                                    <input type="text" data-validate="true" class="form-control" id="Address"
                                        name="address" maxlength="100" required />
                                    <div class="help-block with-errors" style="color: red; font-size: 14px;"></div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="Zip" class="control-label">Pin code</label>
                                    <input type="text" data-validate="true" class="form-control numbersOnly" id="Pincode"
                                        name="pincode" maxlength="10" pattern="^[0-9]+$" required />
                                    <div class="help-block with-errors" style="color: red; font-size: 14px;"></div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="Email" class="control-label">Email</label>
                                    <input type="email" data-validate="true" class="form-control" id="Email"
                                        name="email" maxlength="99"
                                        patern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$"
                                        required />
                                    <div class="help-block with-errors" style="color: red; font-size: 14px;"></div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="PhoneNumber" class="control-label">Mobile</label>
                                    <input type="text" data-validate="true" class="form-control numbersOnly"
                                        id="MobileNumber" pattern="^[0-9]+$" name="mobileNumber" maxlength="25"
                                        required />
                                    <div class="help-block with-errors" style="color: red; font-size: 14px;"></div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="Password" class="control-label">Password</label>
                                    <input type="password" data-validate="true" class="form-control" id="Password"
                                        name="password" data-minlength="6"
                                        data-minlength-error="Minimum of 6 characters" maxlength="49" required />
                                    <div class="help-block with-errors" style="color: red; font-size: 14px;"></div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="ConfirmPassword" class="control-label">Confirm Password</label>
                                    <input type="password" data-validate="true" class="form-control"
                                        id="ConfirmPassword" name="confirmPassword" data-match="#Password"
                                        data-match-error="Whoops, password don't match" placeholder="Confirm Password"
                                        required />
                                    <div class="help-block with-errors" style="color: red; font-size: 14px;"></div>
                                </div>
                            </div>

                            <!-- Submit button -->
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button id="Register" class="btn btn-outline-primary">Register</button>
                                        <!-- <input type="submit" name="register" id="Register" class="btn btn-info" value="Register" /> -->
                                        <input id="Clear" class="btn btn-default" type="reset" name="clear"
                                            value="Reset" onclick="resetForm();" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </article> <!-- card-body end .// -->
            </div> <!-- card.// -->
        </div> <!-- col.//-->

    </div> <!-- row.//-->


    <script type="text/javascript" src="/public/assets/js/AddSeller.js"></script>
    <script type="text/javascript" src="/public/assets/js/adminDashboard.js"></script>
</section>
</body>

</html>